// Text
$font-fm-main: 'Roboto', sans-serif;

$font-sz-smaller: 1rem;     // 16px
$font-sz-small: 1.25rem;    // 20px
$font-sz-medium: 1.5rem;    // 24px
$font-sz-large: 1.75rem;    // 28px
$font-sz-giant: 2.5rem;     // 40px

$font-wg-light: 100;
$font-wg-medium: 500;
$font-wg-bold: 800;

// Colors
$color-main: #e8505b;
$color-sec: #455a64;

$color-black: #000;
$color-white: #ffffff;
$color-gray: #eceeef;

// Layout
$width-main: 1180px;

$padding-small: 15px;
$padding-small--plus: 20px;
$padding-regular: 30px;
$padding-regular--plus: 45px;
$padding-big: 60px;

$border-radius: 12px;

$margin-small: 10px;
$margin-regular: 20px;
$margin-regular--plus: 40px;
$margin-big: 60px;